<mat-toolbar color="primary" class="flex items-center gap-4">
  <mat-icon>security</mat-icon>
  <span class="text-lg font-medium">{{ title }}</span>
  <div class="flex-1"></div>
  <a mat-button routerLink="/register/invite" routerLinkActive="active-link">
    <mat-icon class="mr-1">mail</mat-icon> Invite Visitor
  </a>
  <a mat-button routerLink="/register/walk-in" routerLinkActive="active-link">
    <mat-icon class="mr-1">person_add</mat-icon> Walk-in Check-in
  </a>
</mat-toolbar>

<div class="p-6">
  <router-outlet />
</div>
